.about {
  display: flex;

  margin-bottom: 10rem;

  @include respond(mobile) {
    margin-bottom: 6rem;
  }

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__image {
    @include respond(tab-port) {
      margin-bottom: 3rem;
    }
  }

  &__text {
    padding: 6rem 0 0 6rem;
    background: $white;

    align-self: flex-end;
    margin-left: -10rem;
    z-index: 10;

    @include respond(tab-port) {
      margin-left: 0;
      padding: 0;
      align-self: stretch;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include respond(mobile) {
      z-index: 0;
    }

    &--heading {
      font-size: 3rem;
      font-weight: 200;
      line-height: 3rem;
      text-transform: uppercase;

      width: 90%;
      margin-bottom: 1.5625rem;
    }

    &--description {
      color: $very-dark-grey;
      font-size: 1rem;
      line-height: 1.5625rem;
    }
  }
}
